<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    
    <title>Document</title>
  </head>
  <body>
    <div class="todo border boxshadow coolbackground">
      <h1>TODO APP</h1>
      <form onsubmit="submitHandler(event)" class="add_todo">
        <input class="todo_text border" type="text" />
        <button class="">
          <span class="add_button material-symbols-outlined"> add_task </span>
        </button>
      </form>
      <div class="counter">
        <h1> 0 Todo</br>0 Completed</h1>
      </div>
    </div>
    <div class="container"></div>

    <script src="../script.js"></script>
  </body>
</html>
