*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(121, 121, 121);
    font-family: sans-serif;
}

/* global css */
.border{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
}
.boxshadow{
    -webkit-box-shadow: -8px 10px 0px -2px rgba(0,0,0,0.78); 
box-shadow: -8px 10px 0px -2px rgba(0,0,0,0.78);
}


/* end of global css */

/* container */

.container {
    background-color: white;
    padding: 10px;
    width: 40%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow-y: scroll;
    
    height: 500px;
    
}

.todo{
    position: sticky;
    width: 36%;
    margin: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white

}
.todo_text{
    padding: 10px;
    font-weight: bold;
}
.add_todo{
    display: flex;
    margin: 10px;
    
}
.todo_item{
    margin: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
   
}
/* input css */

input[type='text']{
    font-weight: bold;
    width: 90%;
}
input[type='checkbox']{
    transform: scale(2);
 
    
}

.options {
   
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.delete_button{
    padding: 10px;
    margin: 10px;
}

.btn_button{
    height: 50px;
    

}

.counter {
    
}
