<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Document</title>
  </head>
  <body>
      <!-- Header -->
    <header>

      <h1>Todo</h1>
      <p>Add todo item below</p>
      <div class="header_class">
        <div class="counter border">
          <h2>Completed :</h2>
          <p>{% TOTAL %}</p>
          <h2>Total :</h2>
          <p>{% COUNTER %}</p>
        </div>
      </header>

      </div>
     
    <div class="all">

    
    <!-- container -->
    <div class="container border">
      <!-- form -->
      <form onsubmit="submitHandler(event)" class="form_css">
        <div>
          <div class="inp border">
            <label>Title</label><input type="text" placeholder="title" class="inp_border title"/>
          </div>
          <div class="inp border">
            <label>Description</label><textarea name="" class="inp_border todo" cols="30" rows="10"></textarea>

          </div>
          <div class="inp border">
            <label>Assign</label><input type="text" placeholder="Assign" class="inp_border assign"/>

          </div>
          <div class="inp border">
            <label>Start Date</label><input class="inp_border start_date" type="date">

          </div>
          <div class="inp border">
            <label>End Date</label><input class="inp_border end_date" type="date">

          </div>
          <div class="inp border">
            <button>Submit</button>
            

          </div>         
        </div>
      </form>
    </div>
      <!-- End form -->

      <!-- Todo List -->
      <ul class="list">

      </ul>
    </div>
      <!-- End Todo list -->

    <!-- Script -->
      <script src="../script.js">

      </script>
    </div>
  </body>
</html>
